[submodule "submodules/vimfiles"]
	path = submodules/vimfiles
	url = https://github.com/DiskoGoth/vimfiles
[submodule "submodules/homebrew-install"]
	path = submodules/homebrew-install
	url = https://github.com/Homebrew/install
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "submodules/zsh-auto-notify"]
	path = submodules/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify
[submodule "submodules/zsh-you-should-use"]
	path = submodules/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "submodules/fzf-tab"]
	path = submodules/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
